*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
html { 
  
  overflow-y: scroll} 


label, select{
  font-family: 'Calibri', sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
}
main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer{
  height:200px;
}

#cabecera{
  display:flex;
  justify-content: center;
  align-items: center;
  height:200px;
  
  
}

#buscarFiltros{
    padding:20px;
    
    width: 80vw;
    display:grid;
    column-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
    grid-template-rows: auto;
    grid-template-areas: 
      "lBuscador . . . . . ."
      "cajaBuscador cajaBuscador cajaBuscador cajaBuscador btnBuscador btnVerCarrito . "
      "lGenero lAutor lTitulo lAnio lIdioma lEditorial ."
      "sGenero sAutor sTitulo sAnio sIdioma sEditorial .";

}

#lBuscador{
  grid-area:lBuscador;
 
}
#cajaBuscador{
    grid-area:cajaBuscador;
}
#btnVerCarrito{
    grid-area:btnVerCarrito;

   
}
#btnBuscador{
  grid-area:btnBuscador;

 
}

#lGenero {
  grid-area: lGenero;
  padding:5px 0px;
  align-self: end;

  
  
}
#lAutor {
  grid-area: lAutor;
  padding-bottom:5px;
  align-self: end;
  
  
}
#lTitulo {
  grid-area: lTitulo;
  padding-bottom:5px;
  align-self: end;
}
#lAnio {
  grid-area: lAnio;
  padding-bottom:5px;
  align-self: end;
}
#lIdioma {
  grid-area: lIdioma;
  padding-bottom:5px;
  align-self: end;
}
#lEditorial {
  grid-area: lEditorial;
  padding-bottom:5px;
  align-self: end;
}


#sGenero {
  grid-area: sGenero;
}
#sAutor {
  grid-area: sAutor;
}
#sTitulo {
  grid-area: sTitulo;
}
#sAnio {
  grid-area: sAnio;
}
#sIdioma {
  grid-area: sIdioma;
}
#sEditorial {
  grid-area: sEditorial;
}

#conteiner{
  padding:50px;
  padding: 50px 0px;
  width: 70vw;
justify-content: center;
  display:grid;
  column-gap: 30px;
  row-gap: 30px;
  grid-template-columns:1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "cards cards cards cards cards"
    "cards cards cards cards cards"
    "cards cards cards cards cards"
    "cards cards cards cards cards";
  
}

.tarjetas{
  grid-template-areas: "cards";
  background-color: whitesmoke;
  padding:10px 20px;
  border:1px solid black;
  border-radius: 10px;
  display:flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  font-family : "Calibri";
  font-size : 1.1rem;
} 
.tarjetas p{
  padding:0;
  margin:0;
}

.autorCard{
justify-self: end;
text-align: center;
padding: 2px 0 2px 0;
}
.tituloCard{
justify-self: end;
font-weight: 800;
text-align: center;
}
.precioCard{
  justify-self: end;
  font-weight: 800;
  font-size: 1.5rem;
  text-align: center;
}

.imagenCard{
  width: 100%;
}
.descripcion{
  font-family : "Calibri";
  font-size: 1.1rem;
  padding: 0 10px 0 10px;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  

}
.descripcion p{
  padding:0;
  margin:0;
}

.contenedor{
  
   display: flex;
   align-items: center;
   justify-content: center;
   
}

.imagen{
  height: 30vh;
}





